.App {
  text-align: center;
  background-color: rgb(244, 221, 190);
  height: 100vh;
}

h1 {
  color: rgb(138, 156, 171);
}
h2{
  color: rgb(179, 213, 213);
}

.suggest {
  border-radius: 8px;
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  
}