.App {
  text-align: center;
  background-color: rgb(244, 221, 190);
  min-height: 100vh;
}

nav {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  background: rgb(78, 148, 148);
  padding: 1rem 0;
  margin-right: 2rem;
  margin-left: 2rem;
}

.nameItem{
  display: flex;
  justify-content: space-evenly;
}

.nameItem a{
  color: black;
}

.BlueButton {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.down {
  margin-bottom: 1px;
}

h1 {
  color: rgb(69, 99, 124);
}

h2{
  color: rgb(112, 134, 193);
}

h2 a{
  color:black;
}

li{
  list-style: none;
}

.suggest {
  border-radius: 8px;
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  
}